In [2]:
import osmnx as ox
import matplotlib.pyplot as plt
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.cm as cm
import csv
from shapely import geometry

import os
import time
import glob

folder = 'data/producenten_data/'
files = glob.glob(folder+'*keten*')
files

['data/producenten_data/korte keten verkoop 1 schakel.csv',
 'data/producenten_data/korte keten verkoop.csv']

In [15]:
df_omzet = pd.read_csv(files[1])
df_keten = pd.read_csv(files[0])
df_omzet

,Categorie,Totaalomzet (mln euro),Omzet uit korte ketenverkoop (mln euro)
0,Sierteeltbedrijven,1595,586
1,Voedingstuinbouwbedrijven,1166,398
2,Melkveebedrijven,520,182
3,Akkerbouwbedrijven,400,108
4,Leghennenbedrijven,279,56

In [11]:
df_keten = df_keten.dropna()
df_keten

,Categorie,Verkoop via één tussenschakel (mln euro),Rechtstreekse verkoop aan de consument (mln euro)
0,Sierteeltbedrijven,484.0,103.0
1,Voedingstuinbouwbedrijven,330.0,68.0
2,Melkveebedrijven,147.0,35.0
3,Akkerbouwbedrijven,85.0,23.0
4,Leghennenbedrijven,37.0,19.0

In [24]:
new_col = df_keten['Rechtstreekse verkoop aan de consument (mln euro)']/df_omzet['Totaalomzet (mln euro)'].astype('float')

In [27]:
df_keten['% omzet via EV'] = new_col*100

In [28]:
df_keten

,Categorie,Verkoop via één tussenschakel (mln euro),Rechtstreekse verkoop aan de consument (mln euro),% omzet via EV
0,Sierteeltbedrijven,484.0,103.0,6.457680
1,Voedingstuinbouwbedrijven,330.0,68.0,5.831904
2,Melkveebedrijven,147.0,35.0,6.730769
3,Akkerbouwbedrijven,85.0,23.0,5.750000
4,Leghennenbedrijven,37.0,19.0,6.810036
5,,NaN,NaN,NaN